<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <!-- se puede reemplazar la clase deseada en el link activo ejemplo: routerLinkActive="nombre de clase" -->
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Por País</li>
    <li class="list-group-item" routerLink="region" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Por Región</li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Por Capital</li>
</ul>